<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<link rel="stylesheet" type="text/css" href="/site_media/style.css" />
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAATUBQA1lkyELtUqbG840a8BT38fk-Eb9wY3RxJYljYSmOSjofyxSVsdUGZ5XXvVX2Ur5RD1QbFH21GQ"></script>

<script type="text/javascript">
    google.load("jquery", "1.4.2");
    
    function initialize() {
        markers = [];
        var centerLocation = new google.maps.LatLng(37.4418834, -122.1430195);
        var myOptions = {
          zoom: 11,
          center: centerLocation,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
        var marker = createMarker(37.4418834, -122.1430195, "The Couch!", map, "flagged");
        attachInfoWin(marker, 0);

    }

function attachInfoWin(marker, number) {
        var contentString = '<div id="content">'+
        '<h1 id="firstHeading" class="firstHeading">The Couch</h1>'+
        '<div id="bodyContent">'+
        '<ul>'+
            '<li>$200 <img src="/site_media/images/award_star_add.png"/ onClick="changeMarker()"  id="markFlag"></li>'+
            '<li>I\'m an awesome couch</li>'+
            '<li><a href="#" onClick="showInfo(233)">More Info...</a></li>'+
        '</ul>'+
        '</div>'+
        '</div>';
        
        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            size: new google.maps.Size(50,100)
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
            markers.push(marker);
        });
}

    function showInfo(id){
        var contentString =
        '<div id="bodyContent2">'+
        '<ul>'+
            '<li>$200 <img src="/site_media/images/award_star_add.png" onClick="changeMarker()"  id="markFlag"/></li>'+
            '<li>I\'m an awesome couch</li>'+
            '<li id="fullInfo"></li>'+
        '</ul>'+
        '</div>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        infowindow.open(map,marker);
    }

    function createMarker(lat, long, titleText,gmap, image){
        var latlong = new google.maps.LatLng(lat, long);
        //could be better but whatever.
        if(image =="none"){
            marker = new google.maps.Marker({
                position: latlong,
                map: gmap,
                title:titleText
            });
        }
        if(image =="flagged"){
            var flagIcon = new google.maps.MarkerImage("./site_media/images/bronze.png");
            marker = new google.maps.Marker({
                position: latlong,
                map: gmap,
                title:titleText,
                image: flagIcon
            });
        }
        return marker;
    }
    function changeMarker(){
        lastIndex = markers.length - 1;
        markers[lastIndex].setIcon(new google.maps.MarkerImage("site_media/images/bronze.png"));
        markers.pop();
    }   
</script>
<title>CouchTomato</title>
</head>
<body onload="initialize()">
    <div id ="logo"></div>
    <div id ="holder">
        <div id="leftbar">
            <form>
            <input type="text" name="term" id="term"/>
            <input type="submit" class="search_submit" value="Search"/>
            </form>
            <ul>
                <li class="bold"><a href="/category/jjj">Jobs</a></li>
                <li></li>
                <li class="bold"><a href="/category/sss/">For Sale</a></li>
                <li></li>
                <li>
                    <ul class="sub">
                        <li><a href="/category/fua">Furniture</a></li>
                        <li><a href="/category/rea">Real Estate</a></li>
                        <li><a href="/category/cta">Cars</a></li>
                        <li><a href="/category/pet">Pets</a></li>
                        <li><a href="/">Other</a></li>
                    </ul>
                </li>
                <li></li>
                <li class="bold"><a href="/category/hhh">For Rent</a></li>
                <li></li>
                <li>
                    <ul class="sub">
                        <li><a href="/category/apa">Housing</a></li>
                        <li><a href="/category/sub">Sublets</a></li>
                        <li><a href="/category/off">Office/Commercial</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="map_canvas"></div>
    </div>
</body>
</html>
